[submodule "cookbooks/user"]
	path = cookbooks/user
	url = https://github.com/fnichol/chef-user.git
[submodule "baseboxes"]
	path = baseboxes
	url = https://github.com/hfeeki/vagrant-basebox-templates.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/python"]
	path = cookbooks/python
	url = https://github.com/hfeeki/cook-python.git
